<div class="w-100 h-100">
    <app-header [isLoggedIn]="isUserLoggedIn" (login)="doLogin($event)"></app-header>
    <div *ngIf="!isUserLoggedIn">
        <div class="header-splash flex-row align-items-center justify-content-around">
            <h1 style="color:#fff">Bem vindo!</h1>
        </div>
        <app-footer></app-footer>
    </div>
    <div *ngIf="isUserLoggedIn" class="h-100">
        <div class="flex-row h-100">
            <app-side-menu class="w-30 h-100"></app-side-menu>
            <div style="padding:10px 0 0 10px; width: 69%">
                <button mat-flat-button (click)="openDialog()" color="accent" style="margin-bottom: 10px;">Novo</button>
                <br>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="player flex-row" [class.align-items-stretch]="!displayPlaylist" [class.align-items-start]="displayPlaylist">
            <app-player [displayPlaylist]="displayPlaylist" style="width:100%"></app-player>
            <button mat-raised-button (click)="togglePlayList()">
                <i class="material-icons" *ngIf="!displayPlaylist">
                    keyboard_arrow_up
                </i>
                <i class="material-icons" *ngIf="displayPlaylist">
                    keyboard_arrow_down
                </i>
            </button>
        </div>
    </div>
</div>
