<div class="flex-column menu h-100">
    <mat-list>
        <mat-list-item>
            <a routerLink="/music" routerLinkActive="mat-primary" mat-raised-button class="w-100">
                <i class="material-icons">
                    music_note
                </i>
                Minhas Músicas
            </a>
        </mat-list-item>
        <mat-list-item>
            <a routerLink="/playlists" routerLinkActive="mat-primary" mat-raised-button class="w-100">
                <i class="material-icons">
                    queue_music
                </i>
                Playlists
            </a>
        </mat-list-item>
    </mat-list>
</div>